{% load thumbnail %}
<div class="service-header-box">
        <h1>خدمات</h1>

    </div>
    <div class="services-grid">

        {% for service in services %}
        <div class="service-card">

            <!-- تصویر سرویس -->
            <div class="service-image">
                {% thumbnail service.image "400x300" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{ service.title }}">
                {% endthumbnail %}
            </div>

            <!-- اطلاعات -->
            <h3>{{ service.title }}</h3>

            {% if service.price %}
                <div class="service-price">
                    {{ service.price }} تومان
                </div>
            {% endif %}

            <p class="service-desc">
                {{ service.description }}
            </p>

            <!-- دکمه رزرو -->
            <a href="" class="btn-primary">
                رزرو وقت
            </a>

        </div>
        {% endfor %}

    </div>