{% extends "shared/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}">


    <div class="reservation-page">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'reserve_page' %}" class="reservation-form">
            {% csrf_token %}

            {{ form.full_name }}
            {{ form.phone }}
            {{ form.date }}

            <label>ساعت رزرو</label>
            <div class="time-buttons">
                <button type="button" data-time="10:00">10 تا 12</button>
                <button type="button" data-time="12:00">12 تا 14</button>
                <button type="button" data-time="14:00">14 تا 16</button>
                <button type="button" data-time="16:00">16 تا 18</button>
                <button type="button" data-time="18:00">18 تا 20</button>
            </div>

            {{ form.time }}


            <button type="submit" class="btn-main">رزرو</button>
        </form>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/reservation.js' %}"></script>
{% endblock %}






