{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LIAN NAIL{% endblock %}</title>

    {% include "shared/header_refrences.html" %}
</head>

<body>

{% render_partial "home_module.views.HeaderComponent" %}

<main class="site-content">
    {% block content %}{% endblock %}
</main>


<div id="imageModal" class="image-modal" onclick="closeImage(event)">
    <img id="modalImg" alt="">
</div>
{% render_partial "home_module.views.FooterComponent" %}
{% include "shared/footer_refrences.html" %}

</body>
</html>

