<header class="site-header">
    <div class="header-container">

        <!-- LOGO -->
        <div class="header-logo">
            <img src="/static/images/nail_logo.png" alt="LIAN NAIL">
            <span>LIAN NAIL</span>
        </div>

        <!-- MENU -->
        <nav class="header-nav">
            <a href="#">صفحه اصلی</a>
            <a href="#">خدمات</a>
            <a href="#">گالری</a>
            <a href="#">رزرو وقت</a>
            <a href="#">تماس با ما</a>
        </nav>

        <!-- ACTIONS -->
        <div class="header-actions">

            <!-- SEARCH -->
            <div class="search-box">
                <input type="text" placeholder="جستجو...">
                <button>🔍</button>
            </div>

            <!-- ACCOUNT -->
            <a href="#" class="account-btn">ورود</a>
             <a href="#" class="account-btn">خروج</a>

        </div>

    </div>
</header>

