{% load static %}
<header class="site-header">
    <div class="header-container">
<button class="menu-toggle" onclick="toggleMenu()">☰</button>

        <!-- LOGO -->
        <div class="header-logo">
            <img src="/static/images/nail_logo.png" alt="LIAN NAIL">
            <span>LIAN NAIL</span>
        </div>

        <!-- MENU -->
        <nav class="header-nav" id="mobileMenu">
            <a href="{% url "home_page" %}">صفحه اصلی</a>
            <a href="{% url "service_page" %}">خدمات</a>
            <a href="{% url "gallery_page" %}">گالری</a>
            <a href="{% url "product_page" %}">محصولات</a>
            <a href="{% url "reserve_page" %}">رزرو وقت</a>
            <a href="#">تماس با ما</a>
        </nav>

        <!-- ACTIONS -->
        <div class="header-actions">

            <!-- SEARCH -->
            <div class="search-box">
                <input type="text" placeholder="جستجو...">
                <button><img src="{% static "images/png_jzivu.png" %}" width="10" alt=""></button>
            </div>

            <!-- ACCOUNT -->
            <a href="#" class="account-btn">ورود</a>
             <a href="#" class="account-btn">خروج</a>

        </div>

    </div>
</header>

